@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    font-family: "Caveat", cursive;
    font-weight: 700;
    background-color: #d4bad4;
    background-image: linear-gradient(0deg, #d4bad4 0%, #d3e7ed 99%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    margin-left: 1em;
}

.titulo{
    position: absolute;
    left: 30%;
    font-size: 32px;
    color: #474E8F;
}

.page{
    height: 100vh;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #474E8F;
    color: #fff;
}


.menu_itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.menu_itens_texto{
    font-size: 26px;
    margin-left: 0;
}

.concha{
    transform: rotate(-30deg);
    scale: 40%;
}